.list-group-header {
	background-color: #ddd;
	color: #000;
	font-weight: bolder;
}

.list-group-link-item:hover {
	background-color: #eee;
}

.list-group-link-item>a {
	text-decoration: none;
	color: #666;
}

.list-group-link-item.active>a {
	color: #5EBF88;
}

.list-group-link-item>a:hover {
	color: #5EBF88;
}

.category-link {
	color: #5EBF88;
	font-size: 0.9em;
}

.category-link:hover {
	color: #154171;
	cursor: pointer;
	text-decoration: none;
}

.author-link {
	color: #5EBF88;
}

.author-link:hover {
	color: #154171;
	cursor: pointer;
	text-decoration: none;
}

.author-link:last-of-type+span {
    display: none;
}

.panel-clickable:hover, .title-string:hover {
	background-color: #eee;
	cursor: pointer;
	color: #154171;
}

.transparent-background {
	background: none !important;
}

.no-margin-top {
	margin-top: 0px;
}

.no-border-bottom {
	border-bottom: none;
}

.margin-bottom {
	margin-bottom: 16px;
}

.view-control:hover {
	color: #5EBF88;
	cursor: pointer;
}

.book-item {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.book-item {
	float: left;
}

.book-image:hover {
	cursor: pointer;
}

.book-image-suggestion:hover {
	cursor: pointer;
}

.book-image {
	width: 170px;
	height: 235px;	
}

.grid>.book-item {
	width: 33.33333333%;
}

.grid .category-link {
	float: right !important;
}

.grid .book-description {
	display: none !important;
	visibility: hidden !important;
}

.grid .panel-body {
	height: 102px;
}

.list>.book-item {
	width: 100%;
	margin-bottom: 24px;
}

.list .panel-heading {
	float: left !important;
	border: none;
	width: 20%;
}

.list .panel-body {
	float: left !important;
	width: 80%;
	padding-top: 0px;
	padding-left: 24px;
}

.list .panel {
	border: none;
	border-top: 1px solid #ddd;
}

.list .book-title {
	margin-bottom: 2px;
}

.list .book-description {
	padding-top: 6px;
}

.control-label-left {
	text-align: left !important;
}

.form-control[disabled] {
	box-shadow: none;
}

.form-control[disabled]:hover {
	cursor: default;
}

.loggedOutItem:hover, .loggedInItem:hover {
	cursor: pointer;
}

.padding-bottom: {
	padding-bottom: 15px;
}

.margin-bottom: {
	margin-bottom: 15px;
}

body {
	padding-top: 106px;
}